body {
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
#landing-page {
    background-image: url('/images/landingPage1.jpg');
    background-size: cover;
    width: 100%;
  height: 100vh;
}
.title-background {
    width: fit-content;
    margin: auto;
    padding: 10px;
}
.title {
    text-align: center;
    color: black;
    font-size: 4em;
}
.navigation-slider {
    padding: 15px;
    cursor: pointer;
}
.line {
    background: #eeeeee;
    height: 3px;
    margin: 2px;
    width: 30px;
}
.line:nth-child(1) {
    margin-top: 0;
}
.navigation-slider-section {
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translate(-100%)
}
.close-navigation-slider {
    border: none;
    outline: none;
    float: right;
    background: transparent;
    color: burlywood;
    font-size: 1.5em;
    padding: 15px;
    cursor: pointer;
}
.nav-link-container {
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 100%;
}
.nav-link-container li {
    text-align: center;
    padding: 10px;
}
.nav-link {
    text-decoration: none;
    color: #eeeeee;
    font-size: 1.5em;
}
.openNav {
     animation: openNav 0.5s forwards;
      
}
.closeNav {
    animation: closeNav 0.5s forwards;
}
@keyframes openNav {
    100% {
        transform: translateX(0%);
    }
}
@keyframes closeNav {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
/* Listing */

#listing{
    background: #000000;

}

.listing-title{
    color: #d0d3d4;
    text-align: center;
    padding: 25px;
    font-size: 2em;

}

/* Restaurants */

#restaurants{
    background: #000000;
    text-align: center;
    padding: 25px;
    font-size: 2em;

}

.res-title{
    color: #d0d3d4;
    text-align: center;
    padding: 25px;
    font-size: 1.1em;
    
}



/* Menu */

#menu{
    
    background-size: cover;
    
    background-color: blue;

}

.menu-title{
    color: #d0d3d4;
    text-align: center;
    padding: 25px;
    font-size: 2em;

}

#cart{
    
    background-size: cover;
    
    background-color: blue;

}

.cart-title{
    color: #d0d3d4;
    text-align: center;
    padding: 25px;
    font-size: 2em;

}

table, th, td {
    font-size: 1.1em;
    border: 1px solid white;
    color: #eee;
    
    padding: 25px;
    
}

b{
    background-color:orchid;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 24px;
  
  }

p {
    font-size: 1.1em;
    color: #eee;
    
}

a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    font-size: 1.1em;
    color: #eee;
    background: #000000;
    
}



button{
    
        font-size: 1.1em;
        color: #eee;
        background: none;
       
}

.menu-price{
    float: right;
}

/* Restaurant Info */

#restaurant-info{
    background: #070707;
    
}

.restaurant-info-title{
    color: #D3CAC8;
    text-align: center;
}

.info-container{
    display: grid;
    grid-template-columns: 1fr;
}

.address-content, .business-hours, .contact-content{
    padding: 10px;
}

.address, .hours{
    font-size: 1em !important;
    text-align: center;
}

.phone{
    font-size: 1em !important;
    text-align: center;
    margin-bottom: 0 ;
}

@media screen and (min-width: 768px){
    .info-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .address-content, .business-hours{
        border-right: 1px solid #eee;
    }
}